.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh 30vh 10vh;
  grid-template-areas:
    "blog blog blog"
    "bar bar bar"
    "ft ft ft";
  grid-gap: 5px;
  /*grid-gap: 10px;*/
  border: 5px solid blue;
  margin: 10px;
}

.box {
  font-family: verdana;
  background: #F8FA9D;
}
  .card {
    grid-area: blog;
    margin: 10px;
    border: 3px solid red;
  }

  .meals {
    grid-area: bar;
    margin: 10px;
    border: 3px solid green;
  }

  .footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    font-size: 12px;
    align-items: center;
    margin: 10px;
    border: 3px solid purple;
  }

.cardGrid {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "a"
    "b";
  grid-gap: 5px;
  /*display: flex;
  flex-direction: column;*/
  margin: 10px;
  border: 3px solid green;
}

  #image {
    grid-area:
      "a";
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("broccoli.jpg"); /* Photo by Annie Sprat, Unsplash */
    align-self: center;
  }

  #blogbox {
    width: 1fr;
    height: 1fr;
    grid-area:
      "b";
    background-color: grey; /* Add background color */
    border: blue; /* Confirm border size */
    padding: 20px; /* Confirm padding */
    /*border: 1px solid blue;*/
    border-radius: 15px;
  }

  .button {
    text-align: center;
    float: right;
    width: 100px;
    height: 50px;
    border: 1px solid blue;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    background-color: blue;
    color: white;
  }
/*
  #button1 {
    float: right;
    background-color: blue;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
  }
*/
.mealGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: 100%;*/
  /*grid-template-rows: 100% 100% 100%;*/
  grid-auto-rows: minmax(225px, 225px);
  grid-template-areas:
    "c d e";
  grid-gap: 15px;
  /*display: flex;
  flex-direction: row;*/
}

.meal {
  /*grid-area: bar;*/
  /*width: 1fr;
  height: 1fr;*/
  text-align: center;
  background-color: rgb(162,210,223); /* Ice Blue background */
  border: 3px solid grey ; /* Thin grey border line */
  margin: 10px;
  padding: 2px ; /* Confirm padding */
  border-radius: 15px;
  color: white;
}

  .breakfast {
    grid-area:
      "c";
    /*width: 100%;
    height: 100%;*/
    background-image: url("dutch_pancake.jpg");
    background-size: 100% 100%;
  }

  .lunch {
    grid-area:
      "d";
      /* Add link to lunch image here */
  }

  .tea {
    grid-area:
      "e";
      /* Add link to lunch image here */
  }

/*
#blogbox {
  width: 100vw;
  height: 100vh;
  background-color: ; /* Add background color
  border: ; /* Confirm border size
  padding: 20px; /* Confirm padding
  border: 1px solid blue;
  border-radius: 15px;
}
*/

.button:link {
  float: right;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #333333;
}

a:link {
  float: right;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #333333;
}

a:hover {
  font-weight: bold;
  color: green;
}

.photos {
  /*object-fit: contain;*/
  background-size: contain;
  background-repeat: no-repeat;
  /*border-radius: 200px;*/
  /*justify-content: center;*/
}

/* Dummy flexbox code
.box {
  font-family: verdana;
  border: 1px solid red;
  background: #F8FA9D;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .meals {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
*/
