.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh 30vh 10vh;
  grid-template-areas:
    "blog blog blog"
    "bar bar bar"
    "ft ft ft";
    grid-gap: 5px;
    border: 1px solid yellow;
}

/* Dummy flexbox code
.box {
  font-family: verdana;
  border: 1px solid red;
  background: #F8FA9D;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .meals {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
*/


.box {
  font-family: verdana;
  border: 1px solid red;
  background: #F8FA9D;
}
  .card {
    grid-area: blog;
  }

  .meals {
    grid-area: bar;
  }

  .footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    font-size: 12px;
  }

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "a"
    "b";
  grid-gap: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

  #image {
    grid-area:
      "a";
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-image: url("broccoli.jpg"); <!-- Photo by Annie Sprat, Unsplash-->
  }

  #blogbox {
    /*width: 100vw;
    height: 100vh;*/
    grid-area:
      "b";
    background-color: ; /* Add background color */
    border: ; /* Confirm border size */
    padding: 20px; /* Confirm padding */
    border: 1px solid blue;
    border-radius: 15px;
  }

  #button {
    text-align: center;
    width: 125px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 15px;
  }

.mealGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-template-areas:
    "c d e";
  grid-gap: 15px;
  display: flex;
  flex-direction: row;
}

.meal {
  grid-area: bar;
  width: 100%;
  height: 100%;
  background-color: rgb(162,210,223); /* Ice Blue background */
  border: 5px solid grey ; /* Thin grey border line */
  padding: 20px ; /* Confirm padding */
  border-radius: 25px;
}


  .breakfast {
    grid-area:
      "c";
      /* Add link to breakfast image here */
  }

  .lunch {
    grid-area:
      "d";
      /* Add link to lunch image here */
  }

  .tea {
    grid-area:
      "e";
      /* Add link to lunch image here */
  }

/*
#blogbox {
  width: 100vw;
  height: 100vh;
  background-color: ; /* Add background color
  border: ; /* Confirm border size
  padding: 20px; /* Confirm padding
  border: 1px solid blue;
  border-radius: 15px;
}
*/

a:link {
  text-decoration: none;
  color: #333333;
}
a:hover {
  font-weight: bold;
  color: blue;
}
